.article {

    & + & {
        margin-top: 6rem;
    }

    &__page-title {
        margin-bottom: 4rem;
    }

    &__title {
        margin-bottom: .25rem;
    }

    &__publish-date {
        display: block;

        margin-bottom: 1rem;

        color: $grey;
        @include type-scale(epsilon);
    }

    &__title-link {
        color: $text-color;

        &:hover {
            text-decoration: underline;
        }
    }

    &__image-wrapper {
        display: block;
        
        margin-bottom: 1rem;

        overflow: hidden;
    }

    &__image-wrapper:hover & {
        &__image {
            opacity: .75;
            transform: scale(1.05);
        }
    }

    &__image {
        width: 100%;

        transition: transform 1s ease,
                    opacity 1s ease;
        vertical-align: bottom;
    }

    &__summary {
        margin-bottom: 0;
        line-height: 180%;
    }

    &__tags {
        margin-top: 2rem;
        display: flex;
    }

    &__tags-header {
        margin-bottom: 4rem;
        padding-bottom: 1rem;

        border-bottom: 1px solid lighten($grey, 40%);

        @include breakpoint(mobile-large, up) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__tags-title,
    &__back {
        margin-right: 1rem;

        @include type-scale(theta);
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__back {
        color: $grey;
        font-weight: 400;
        margin-right: 0;

        &:hover {
            text-decoration: underline;
        }
    }
    
    &__tag {
        @include type-scale(theta);
        color: $grey;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        & + & {
            margin-left: .5rem;
        }
    }
}