.gallery {

	&__controls {
		cursor: pointer;
		position: absolute;
		right: 0;
		z-index: 100;
	}

	&__close {
		position: absolute;
		cursor: pointer;
		background: rgba($white, 0.85);
		max-width: 4rem;
		top: 2rem;
		right: 2rem;
		z-index: 101;
	}

	&__nav {
		@include center-item;
		background: rgba($white, 0.85);
		cursor: pointer;
		max-width: 5rem;
		z-index: 101;

		&--previous {
			left: 2rem;
		}

		&--next {
			right: 2rem;
		}
	}

	&__arrow {
		padding: .75rem;
		width: 50px;
		vertical-align: bottom;

		@include breakpoint(tablet, up) {
			padding: 1rem;
			width: 100%;
		}
	}

	&__items {
		position: absolute;
		padding: 0;
		bottom: 2rem;
		margin: auto;
		top: 2rem;
		right: 2rem;
		left: 2rem;
		text-align: center;
	}

	&__item {
		max-height: 100%;
		top: 0;
		position: absolute;
		list-style: none;
		left: 0;
		right: 0;
		margin: auto;
		height: 100%;
		opacity: 0;
		transition: opacity .35s ease;
		vertical-align: bottom;

		&--active.gallery__item--loaded {
			opacity: 1;
		}
	}

	&__image-wrapper {
		height: calc(100% - 3.5rem);
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 0;
	}

	&__play-button {
		@include center-item;
		background: rgba($white, 0.85);
		cursor: pointer;
		left: 50%;
		padding: 1.25rem 1.5rem;
		transform: translateX(-50%) translateY(-50%);
		z-index: 100;

		@include breakpoint(mobile-large, down) {
			width: 50px;
		}
	}

	&__video {
		width: 75%;
		height: 42.1875vw;
		z-index: 100;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		opacity: 0;
		z-index: -9999;
		transition: opacity .35s ease;

		&--show {
			opacity: 1;
			z-index: 100;
		}

		&:fullscreen {
			top: 0;
			left: 0;
			transform: none;
			z-index: 9999;
		}
	}

	&__panorama-label {
		z-index: 20;
		width: 75%;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	&__panorama {
		width: 100%;
    	height: 100%;
		border: 0;
		padding: 0;
		max-height: 100%;
		top: 0;
		z-index: 100;
		position: relative;

		&:fullscreen {
			top: 0;
			left: 0;
			transform: none;
			z-index: 9999;
		}
	}

	&__panorama-label {
		display: block;
		background: rgba($white, 0.85);
		border-radius: 100%;
	}

	&__image {
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 0;
		bottom: 0;

		&--hide {
			opacity: 0;
		}
	}

	&__info {
		background: rgba($white, .75);
		text-align: left;
		height: 3.5rem;
		width: 100%;
		position: absolute;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;

		@include breakpoint(mobile-large, up) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
	}


	&__project-title {
		@include type-scale(zeta);
		margin-bottom: .5rem;

		@include breakpoint(mobile-large, up) {
			margin-bottom: 0;
		}
	}

	&__caption {
		@include breakpoint(mobile-large, up) {
			float: right;
		}
	}
}
